body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e0f7fa; /* Biru muda */
    color: #4a4a4a; /* Warna teks */
    margin: 0;
    padding: 0;
}

header {
    background-color: #00796b; /* Hijau */
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #4a4a4a;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: #d7ccc8; /* Coklat muda */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00796b; /* Hijau */
    color: white;
}
